---

type Props = {
  title?: string;
};

const { title = "Uta Music" } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.png" rel="icon" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <script>
    import { OverlayScrollbars } from "overlayscrollbars";

    OverlayScrollbars(document.body, {
      scrollbars: {
        autoHide: "scroll",
      },
    });
  </script>
  <script is:inline>
    // const setColorMode = () => {
    //   const colorMode = (() => {
    //     if (
    //       typeof localStorage !== "undefined" &&
    //       localStorage.getItem("color-mode")
    //     ) {
    //       return localStorage.getItem("color-mode");
    //     }
    //     if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    //       return "dark";
    //     }
    //     return "light";
    //   })();

    //   if (colorMode === "dark") {
    //     document.documentElement.classList.add("dark");
    //   }

    //   window.localStorage.setItem("color-mode", colorMode);
    // };
    // setColorMode();
    // document.addEventListener("astro:before-swap", setColorMode);
  </script>
</html>
