---
import "overlayscrollbars/overlayscrollbars.css";

import "~/styles/swap.css";

type Props = {
  title?: string;
};

const { title = "Uta Music" }: Props = Astro.props;
---

<html data-overlayscrollbars-initialize lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.png" rel="icon" type="image" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
  </head>
  <body class="text-slate-500 dark:bg-slate-900 dark:text-slate-400">
    <div class="min-h-screen w-full bg-inherit" id="app">
      <slot />
    </div>
  </body>
  <script>
    import { OverlayScrollbars } from "overlayscrollbars";

    OverlayScrollbars(document.body, {
      scrollbars: {
        autoHide: "scroll",
      },
    });
  </script>
  <script is:inline src="./node_modules/preline/dist/preline.js"></script>
</html>
