---
import { css } from "styled-system/css";

type Props = {
  title?: string;
};

const { title = "Uta Music" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.png" rel="icon" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
  </head>
  <body class={css({ color: "text", backgroundColor: "background" })}>
    <slot />
  </body>
  <script>
    import { OverlayScrollbars } from "overlayscrollbars";

    OverlayScrollbars(document.body, {
      scrollbars: {
        autoHide: "scroll",
      },
    });
  </script>
</html>
